# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

pool:
  vmImage: 'Ubuntu 16.04'

steps:
- task: AzureCLI@1
  inputs:
    connectedServiceNameARM: 'erjohnContainerRegistry'
    scriptLocation: 'inlineScript'
    inlineScript: 'az resource list --name ''erjohnWebApp'''
- task: DownloadSecureFile@1
  inputs:
    secureFile: 'todo.txt'
